body , html {

}

ul, li {
  padding:0;
  margin:0;
  list-style-type: none;
}

.navbar {
  height:50px;
  width:100%;
  background:rgb(0, 145, 255);
  margin:0;
  padding-left:5px;
  padding-right:5px
}

.navbar a {
  color:white;
  text-decoration: none
}

.navbar h1 {
  float:left;
  font-weight: bold;
  font-size: 4em;
  padding:0;
  margin:0;
  color:white;
}

.navbar p {
  float: right;
  padding-left: 30px;
  position: relative;
  display: inline-block;
  bottom: -23px;
}

.login {

}

.logout {
  display: none
}

/*.list-group {
  width:300px;
}*/

input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(2.5);
  /* Webkit browsers*/
  -webkit-transform: scale(2.5);

}

/*.checkbox {
  vertical-align: middle;
  line-height: 91px;
  background-color: blue
  position: relative;
  margin:0;
}*/

.checkbox input[type=checkbox] {
  position: relative;
  margin:10;
}

input[type=checkbox] {
  position: relative;
  margin:10;
}



/*
#signin_signout {
  border:1px solid black;
  height:260px;
  width:420px;
  margin:0 auto;
  position:relative;
}*/

/*.form{
  border:1px solid black;
  height:250px;
  width:200px;
  display:inline-block;
  float:left;
  text-align: center
}*/

.attribute_list ul {
  padding:0;
}

.centered {
  text-align: center;
  /*width:50%;*/
  margin:0 auto;
}

.centered form {
  margin:0 auto;
}

.modal_img {
  height:100px;
  width:100px;
  display:inline-block;
  margin:5px;
}

.list-group-item {
  margin: 5 auto;
  background-color: #f1f1f1;
  width:40%;
}

.list-group-item h4{
  display:inline-block;
}

.list-group-item:hover{
  background-color: #37A6FC;
  color:white;
  font-weight: bold
}

.list_img {
  height:50px;
  width:50px;
  display:inline-block;
  margin:5px;
}

.company_title {
  display:inline-table;
  margin: 0px 0px 20px 20px;
}

.company_title h1 {
  font-weight: bold;
}

.nav_wrapper {
  height: 65px;
}

.buttons {
  display:inline-table;
  float:right;
  margin:20px;
}

.buttons button {
  margin:5px;
  width:100px;
  border-radius:10px;
  background-color:#327ab7;
  color:white;
}

.welcome {
  text-align: center;
  font-weight: bold;
}

.legend {
  display: inline-block;
  vertical-align: top;
  margin:5px 0px 5px 30px;
  font-weight: bold;
  /*height:100%;*/
}

.pie_circle {
  margin:15px;
  display: inline-block;
  vertical-align: middle;
  -webkit-filter: drop-shadow( 10px 10px 10px gray );
  filter: drop-shadow( 10px 10px 10px gray );
}

.stat_list li h3 {
  text-align: center;
  margin: 10px 10px;
  /*padding: 5px;*/
  /*background: rgb(55, 166, 252);*/
  /*border-radius: 10px;*/
  /*color: white;*/
}

.stat_list li {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10;
  padding: 10px;
  background:white;
  /*height:100%;*/
}

/*.stat_list {
  background: rgb(55, 166, 252)
}*/

