body , html {
  background-color: #e9eaed;
}

ul, li {
  padding:0;
  margin:0;
  list-style-type: none;
}

.navbar {
  background: -webkit-linear-gradient(rgb(0, 102, 180), rgb(42, 121, 181), rgb(0, 102, 180)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(0, 102, 180), rgb(42, 121, 181), rgb(0, 102, 180)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(0, 102, 180), rgb(42, 121, 181), rgb(0, 102, 180)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(0, 102, 180), rgb(42, 121, 181), rgb(0, 102, 180)); /* Standard syntax */
  height:53px;
  width:100%;
  margin:0;
  padding-left:5px;
  padding-right:5px
}

.nav {
  float:right;
}

.nav-pills>li>a {
  background: -webkit-linear-gradient(rgb(0, 102, 180), rgb(42, 121, 181), rgb(0, 102, 180)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(0, 102, 180), rgb(42, 121, 181), rgb(0, 102, 180)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(0, 102, 180), rgb(42, 121, 181), rgb(0, 102, 180)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(0, 102, 180), rgb(42, 121, 181), rgb(0, 102, 180)); /* Standard syntax */
  border:1px solid white;
  margin:5px;
  padding:8px
}

.nav-pills>li>a:hover {
  background:#37A6FC;
}

.navbar a {
  color:white;
  float:right;
  /*color:#e9eaed;*/
  text-decoration: none;
}

/*.navbar p {
  float: right;
  padding-left: 30px;
  position: relative;
  display: inline-block;
  bottom: -23px;
}*/

.navbar h1 {
  float:left;
  font-weight: bold;
  font-size: 4em;
  padding:0;
  margin:0;
  color:white;
  vertical-align: middle;
  line-height: 50px;
}

.login {

}

.logout {
  display: none
}

input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(2.5);
  /* Webkit browsers*/
  -webkit-transform: scale(2.5);

}

.checkbox input[type=checkbox] {
  position: relative;
  margin:10;
}

input[type=checkbox] {
  position: relative;
  margin:10;
}

input.form-control[value="Submit"] {
  /*border-radius:4px;*/
  margin-top:10px;
  margin-bottom:10px;
  background:#37A6FC;
  color:white;
}

.submit_button {
  margin:auto;
  width:70%;
}

.input-group.centered {
  background: -webkit-linear-gradient(rgb(0, 102, 180), rgb(0, 102, 180)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(0, 102, 180), rgb(0, 102, 180)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(0, 102, 180), rgb(0, 102, 180)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(0, 102, 180), rgb(0, 102, 180)); /* Standard syntax */
/*0, 145, 255*/
  border-radius: 4px;
  color:white;
  padding:15px;
}

.input-group.centered a {
  color:white;
  padding-top:10px;
}

.attribute_list ul {
  padding:0;
}

.centered {
  text-align: center;
  margin: auto;
}

.centered form {
  margin:0 auto;
}

.modal_img {
  border-radius: 5px;
  width:100px;
  display:inline-block;
  margin:5px;
}

.modal-content {
  background-color: #e9eaed;
}

.modal-title {
  margin:12px;
}

.list-group-item {
  margin: 5 auto;
  background-color: #f1f1f1;
  width:70%;
}

.list-group-item h3{
  margin:5px;
  vertical-align: middle;
  display:inline-block;
}

.list-group-item:hover{
  background-color: #37A6FC;
  text-decoration: none;
  color:white;
  font-weight: bold
}

.attribute_list_selected_item {
  background:#0066b4;
  color:white;
}

.list_img {
  border-radius: 5px;
  height:50px;
  width:50px;
  display:inline-block;
  margin:5px;
}

.company_title {
  display:inline-table;
  margin: 0px 0px 0px 20px;
}

.company_title p {
  text-align: center;
}

.company_title h1 {
  font-weight: bold;
}

.company-info-box {
  border: 1px solid gray;
  border-radius: 10px;
  display:inline-block;
  padding: 10px;
  margin: 10 auto;
  background: white;
  -webkit-filter: drop-shadow( 10px 10px 10px gray );
}

.nav_wrapper {
  height: 65px;
}

.buttons {
  display:inline-table;
  float:right;
  margin:20px;
}

.buttons div{
  height:20px;
  width:100px;
  border-radius:7px;
  /*border: 1px solid #327ab7;*/
  background-color:#327ab7;
  color:white;
  text-align: center
}

.buttons p {
  text-align: center;
  margin:5px;
  font-weight: bold
}

.dashboard-buttons div {
  background: linear-gradient(rgb(0, 102, 180), rgb(42, 121, 181), rgb(0, 102, 180));
  border: 1px solid white;
  border-radius: 4px;
  margin: 5px;
  padding: 8px;
  color:white;
  display:inline-block;
}

.dashboard-buttons div:hover {
  background:#37A6FC
}

.dashboard-buttons a {
  text-decoration: none;
  color:white;
}

.welcome {
  text-align: center;
  font-weight: bold;
}

.legend {
  display: inline-block;
  vertical-align: middle;
  margin:5px 0px 5px 10px;
  font-size: 1.25em;
  font-weight: bold;
  width:55%;
  /*border:1px solid black;*/
  /*height:100%;*/
}

.pie_circle {
  margin:15px;
  display: inline-block;
  vertical-align: middle;
  -webkit-filter: drop-shadow( 10px 10px 10px gray );
  filter: drop-shadow( 10px 10px 10px gray );
}

.stat_list li h2 {
  text-align: center;
  margin: 10px 10px;
}

.stat_list li {
  border-radius:4px;
  -webkit-filter: drop-shadow( 5px 5px 5px gray );
  filter: drop-shadow( 5px 5px 5px gray );
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  background:white;
  /*color:white;*/
  /*height:100%;*/
}

.fineprint {
  font-size:0.75em;
  text-align: center;
  margin:5px;
}

.fineprint p {
  margin: 0 0 2px
}

.company_button_info {
  width: 60%;
  left: 33%;
  position: relative;
}

.intro_search_box {
  background: -webkit-linear-gradient(rgb(0, 102, 180), rgb(0, 102, 180)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(0, 102, 180), rgb(0, 102, 180)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(0, 102, 180), rgb(0, 102, 180)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(0, 102, 180), rgb(0, 102, 180)); /* Standard syntax */
/*0, 145, 255*/
  border-radius: 4px;
  /*height:87px;*/
  width:70%;
  margin:0 auto;
  color:white;
  /*font-weight: bold;*/
}

.intro_search_box div {
  /*height:96px;*/
  width:49%;
  display:inline-block;
  padding:10px;
  font-weight: bold;
  font-size: 1.25em;
  text-align:center;
  vertical-align: middle;
  padding:10px;
  margin:0 auto;
}

.intro_search_box div:first-child p {
 margin:0;
}

.intro_search_box div:last-child{
  font-weight: normal;
  font-size: 1em;
}

.intro_box_checkbox {
  margin:3px;
  float:left;
  clear: both;
}


.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 20000 !important;
}




@media screen and (min-width: 992px){
  .modal-lg {
    width: 700;
  }
}

@media screen and (max-width: 600px){
  .list-group-item {
    width: 100%;
  }
  .company_button_info {
    width: 60%;
    left: 5%;
    position: relative;
  }
  .intro_search_box {
    width:100%;
  }
}

@media screen and (max-device-width: 600px){
  .list-group-item {
    width: 100%;
  }
  .company_button_info {
    width: 60%;
    left: 5%;
    position: relative;
  }
  .intro_search_box {
    width:100%;
  }
  .modal-lg {
    width: 80%;
  }
  .list-group-item h3{
  font-size: 2em;
  margin:5px;
  vertical-align: middle;
  display:inline-block;
}
}

