<div ng-controller="CompanyDashboardController">

  <img class="modal_img" ng-show="company.thumbnail_url !== null" ng-src='{{companyInfo.thumbnail_url}}'>
  <h1>{{company.name}}</h1>

  <p>{{company.city}}, {{company.state}}</p>
  <p><a href="">Edit Company Info</a></p>

  <div ng-show="surveys.length > 0">
    <h4>Your Company's Past Surveys:</h4>
    <ul ng-repeat="survey in surveys" class="list-group">
      <li class="list-group-item">

        <p>Date Created:</p>
        <h5><a ng-href="#/companies/{{company.id}}/surveys/{{survey.id}}">
        {{readableDate(survey.created_at)}}</h5></p><br>
      <a ng-href="">Edit Survey</a>
      </li>
    </ul>
  </div>

  <p><a ng-href="#/create_survey/{{companyId}}">Create New Survey</a></p>

</div>