<div ng-controller="CompanyDashboardController">

  <section ng-show="companyExists">
    <h4>Your company info:</h4>
    <p><a href="">Edit company info</a></p>
  </section>

  <section ng-show="companyExists">
    <h4>Your past surveys:</h4>
  </section>

  <section ng-show="companyExists">
    <h4>Enter your company's information:</h4>

    <p>{{companyExists}}</p>

    <form class="signin-form" ng-submit="createCompany()" name="signInForm">

      <input type="company_name" placeholder="Company Name" name="name" required>
      <br>
      <input type="street_num" placeholder="Street Number" name="street_num" required>
      <br>
      <input type="street_num_line_2" placeholder="Street Number Line Two (optional)" name="street_num_line_2">
      <br>
      <input type="street" placeholder="Street Name" name="street" required>
      <br>
      <input type="city" placeholder="City" name="city" required>
      <br>
      <input type="country" placeholder="Country" name="country" required>
      <br>
      <input type="website_url" placeholder="Website URL" name="website_url" required>
      <br>

      <input type="submit" value="Submit" ng-disabled="signInForm.$invalid">

    </form>
  </section>

</div>