<!-- show all input groups and have check bubbles so they can check the questions they want to ask. -->

<div ng-controller="CreateSurveyController">
  <form ng-submit="getVals()">
    <h4>Choose Questions</h4>
    <h5>Select questions to include in your survey. Click each bar to show individual attribute options that your employees will be able to choose from.</h5>
    <h4><input id="selectAll" type="checkbox" ng-click="selectAll()">Select All</input></h4>

    <div class="attribute_list">
    <ul ng-repeat="group in attributeGroups" class="list-group">
      <li class="list-group-item inline" style="background-color:gainsboro" class="group_title" ng-click="showDetails = ! showDetails">
        <div class="checkbox">
          <h4><input type="checkbox" ng-value="{{group.group.id}}" ng-click="$event.stopPropagation()">
          {{group.group.group_name}}
          </input></h4>
        </div>
      </li>
        <ul>
          <li class="list-group-item" ng-show="showDetails" ng-repeat="attribute in group.individual_attributes">{{attribute.attribute_name}}</li>
        </ul>
    </ul>
    </div>

    <input class="form-control" type="submit" value="Submit">

  </form>

</div>