<div ng-controller="SignInSignUpController">

<section id="signin_signout">
  <div class="form">
    <h4>Sign In</h4>
    <h5>To Manage Your Company's Profile</h5>
    <form class="signin-form" ng-submit="signIn()" name="signInForm">

      <input type="email" placeholder="Email" name="uEmail" ng-model="signin.email" required>
      <br>
      <input type="password" placeholder="Password" name="uPassword" ng-model="signin.password" required>
      <br>
      <input type="submit" value="Submit" ng-disabled="signInForm.$invalid">

    </form>
  </div>

  <div class="form">
    <h4>Sign Up</h4>
    <h5>To Create Your Company's Profile</h5>
    <form class="signup-form" ng-submit="signUp()" name="signInForm">

      <input type="first_name" placeholder="First Name" name="first_name" ng-model="signin.first_name" required>
      <br>
      <input type="last_name" placeholder="Last Name" name="last_name" ng-model="signin.last_name" required>
      <br>
      <input type="job_title" placeholder="Job Title" name="job_title" ng-model="signin.job_title" required>
      <br>
      <input type="email" placeholder="Email" name="email" ng-model="signin.email" required>
      <br>
      <input type="password" placeholder="Password" name="password" ng-model="signin.password" required>
      <br>
      <input type="submit" value="Submit" ng-disabled="signInForm.$invalid">
    </form>
  </div>
</section>

</div>