<div ng-controller="SplashController">

<div class="centered">
  <h3>Companies</h3>
  <p>Search for companies:</p>
  <input type="text" class="form-control" ng-model="searchInput">
</div>

<!-- <div class="centered"> -->
  <ul class="list-group">
    <span ng-repeat="company in companies | filter:searchInput">
      <a data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="getCompanyInfo(company.id)">
        <li class="list-group-item">
          <div class="company_button_info">
          <img class="list_img" ng-show="company.thumbnail_url !== null" ng-src='{{company.thumbnail_url}}'><h4>{{company.name}}</h4>
          </div>
        </li>
      </a>
    </span>
  </ul>
<!-- </div> -->


<!-- MODAL FOR EACH COMPANY'S INFO (CUSTOM DIRECTIVE)-->
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div>
            <img class="modal_img" ng-show="companyInfo.thumbnail_url !== null" ng-src='{{companyInfo.thumbnail_url}}'>
            <div class="company_title">
              <a ng-href="{{companyInfo.website_url}}" target="_blank"><h1>{{companyInfo.name}}</h1></a>
              <h5>{{companyInfo.city}}, {{companyInfo.state}}</h5>
            </div>

            <div class="buttons">
              <div ng-click="upVote(companyInfo.id)">Upvote</div><br>
              <p>Votes: {{companyInfo.votes}}</p>
              <div ng-click="downVote(companyInfo.id)">Downvote</div>
            </div>

          <div class="stat_list">
            <ul ng-repeat="stat in companyStats">
              <li ng-show="!stat.responses.every(posNum)">
                <h2>{{stat.field_title}}</h2>
                <d3piechart dataset="stat.responses"></d3piechart>

<!--                 <div class="responses">
                <ul ng-repeat="response in stat.responses">
                  <li>
                    <p>{{response.attribute_title}}: {{response.value}}</p>
                  </li>
                </ul>
                </div> -->

              </li>
            </ul>
          </div>

          <div class="fineprint">
            <p>*Percentages based on number of responses, not number of total employees</p>
            <p>Last Updated: {{lastUpdate}}</p>
            <a ng-href="{{companyInfo.source}}" target="_blank"><p ng-show="companyInfo.source">Source</p></a>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
